{% extends "base_generic.html" %}

{% block content %}
<body>
	<style>

    body{
        background: #cd91f9;
    }
    footer {
        position: absolute;
        left: 0; bottom: 0;
        padding: 10px;
        background:  #ff6666; ;
        color: #ff6666;
        width: 100%;
        font-style:italic;
        text-align:center;
    }

</body>
</style>
<h1 class="din"  >☺Food time ♥DIN DIN♥</h1>

  <p>Добро пожаловать <em>♥Food time DIN DIN♥ </em>, самый популярный сайт в нашей стране.</p>

<h2>Общий список</h2>

  <p> General information:</p>
  <ul>
    <li><strong>Menus:</strong> {{ num_menus }}</li>
    <li><strong>Guests:</strong> {{ num_guests }}</li>
  </ul>
  	
  

{% endblock %}